{% extends 'base/base.html' %}
{% load static  %}

{% block title %}
    Login
{% endblock %}

{% block title2 %}
    Login
{% endblock %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'accounts/stylesheet/login.css' %}">
    <script type="text/javascript" src="{% static 'Project_Allotment_Portal/javascript/proff.js' %}"></script>
{% endblock %}

{% block content %}

    <form class="my-form" action="{% url 'accounts:login' %} " method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="login">
    </form>

{% endblock %}