{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'Project_Allotment_Portal/stylesheet/team.css' %} " >
    <script type="text/javascript" src="{% static 'Project_Allotment_Portal/javascript/team.js' %}"></script>
{% endblock %}

{% block title %}
    Requests
{% endblock %}

{% block title2 %}
    Join a team
{% endblock %}

{% block quote %}
        Choose your commrades wisely
{% endblock %}



{% block content %}

    {% if request.session.gamer_data_verified <= 1 %}

        <h1> Please wait for your profile verification. </h1>

    {% elif request.session.gamer_data_verified == 2 %}

        <div class="cat row alert alert-success" style="pointer-events: none;">
            <div class="all_pro" style="display: block;">

                {% for mem in mem4 %}

                    <div class=" col-sm-12 product">

                        <div class="title">
                            {{ mem.user_name }}
                        </div>
                        <div class="description">
                            {{ mem.user_reg_no }}
                        </div>
                        <div class="rate" style="pointer-events: all">
                            <form  style="display: inline;" class="my-form" action="{% url 'accounts:requests' %} " method="post">
                                {% csrf_token %}
                                <input name="reg" style="display: none;" type="text" value="{{ mem.user_reg_no }}">
                                <input type="submit" value="Accept">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}

        <h1>    Your team has been completed. </h1>

            {% for mem in mem6 %}
                <div class="cat row alert alert-success" style="cursor: context-menu">
{#                    <div class="bullet" > </div>#}
                    <span class="name" style="padding: 10px; margin: 0px 10px 0px 10px;"> {{ mem.user_name }}  </span>
                    <span class="reg_no" style="padding: 10px; margin: 10px 10px 0px 10px; font-size: 1.5em; position: relative; top: -6px; left: 15px; font-weight: bolder;"> {{ mem.user_reg_no }} </span>
                </div>
            {% endfor %}

    {% endif %}

{% endblock %}