{% extends 'base/base.html' %}
{% load static %}

{% block statics %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'Project_Allotment_Portal/stylesheet/not_found.css' %} " >#}
{% endblock %}

{% block title %}
    Error
{% endblock %}

{% block title2 %}
    Internal Server Error
{% endblock %}

{% block quote %}
    There seem to be some kind of problem with the server. Please try again after some time.
{% endblock %}

{% block content %}
    <h1>{{ e }}</h1>
    <ul>
        <li>
            <h3 style="align-content: center;">
                <a href="{% url 'base:home' %}"> Home Page </a>
            </h3>
        </li>
    </ul>

{% endblock %}
